[Unit]
Description=Fortress Service immich container postgres

[Container]
ContainerName=fortress-immich-postgres
Image=postgres:16
Network=fortress-network-media
NetworkAlias=postgres

[Install]
WantedBy=multi-user.target
