[Unit]
Description=Fortress Service paperless container web
Requires=mnt-nas-documents.mount
After=mnt-nas-documents.mount

[Container]
ContainerName=fortress-paperless-web
Image=ghcr.io/paperless-ngx/paperless-ngx:2.13.5
Network=fortress-paperless
NetworkAlias=web
Volume=/mnt/nas/documents:/documents:rw

[Install]
WantedBy=multi-user.target
